.login-form-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-title {
  color: orangered;
  margin-bottom: 30px;
  text-shadow: 0 0 15px red;
  font-size: 5em;
  position: absolute;
  top: 200px;
  margin-bottom: 5px;
}

.login-form {
  padding: 10px;
  border: 2px solid gray;
  border-radius: 4px;
  box-shadow: 0 0 14px orangered;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.login-to-the-app {
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  padding: 5px;
}
.login-form-text-field {
  width: 100%;
  display: flex;
}

.login-form-text-field-input {
  width: 100%;
  background-color: black;
  border: none;
  color: white;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.login-form-button {
  background-color: orangered;
  color: white;
  font-weight: 800;
  border: none;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px red;
  cursor: pointer;
  transition: 2s;
}

.login-form-button:hover {
  background-color: red;
  box-shadow: 0 0 10px red;
}

.create-account-link{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 790px) {
  .login-form-title {
    font-size: 4em;
  }
}

@media (max-width: 620px) {
  .login-form-title {
    font-size: 3em;
  }
}

@media (max-width: 460px) {
  .login-form-title {
    font-size: 2em;
  }
}